.not_foud {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to top, rgb(48, 45, 2), rgb(255, 255, 255));

    & img {
        width: 70%;
        height: 50vh;
        margin-bottom: 4rem;
    }
}

.photo {
    pointer-events: none;
}