section {
  display: flex;
  height: 100vh;
  padding-top: 20px;
}
.tag_separetion {
  width: calc(93% - 250px);
  margin-left: 350px;
}
.tables_componets {
  height: 90%;
  overflow: auto;
  border-radius: 10px;
  background-color: #2b2b2e;
}
.tables {
  position: fixed;
  top: 10;
  left: 20px;
  width: 300px;
  height: 100%;
  z-index: 1000;

  & ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
    list-style: none;
    padding-left: 15px;
    padding-right: 15px;
  }

  & li:nth-of-type(1) {
    text-decoration: none;
    padding: 15px;
    width: 100%;
    border-radius: 10px;
    background: #3892ee !important;
  }
  & li:hover {
    background: rgb(196, 193, 193);
    transition: 1s;
  }
  & li {
    text-decoration: none;
    padding: 15px;
    width: 100%;
    border-radius: 8px;

    & a {
      color: rgb(255, 255, 255);
      text-decoration: none;
    }
  }
}
.css-6vm7vh {
  flex-shrink: 0;
  border-top: 0px solid rgba(0, 0, 0, 0.08);
  border-right: 0px solid rgba(0, 0, 0, 0.08);
  border-left: 0px solid rgba(0, 0, 0, 0.08);
  height: 0.0625rem;
  margin: 1rem 0px;
  border-bottom: none;
  opacity: 0.25;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0)
  ) !important;
}
.data {
  padding: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;

  & span {
    color: white;
  }
}
.upalod_componets {
  width: 100%;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;

  /* border: 2px solid red; */
}
.nav_bar {
  padding: 15px;
  padding-right: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  z-index: 1100;
  box-shadow: rgba(255, 255, 255, 0.9) 0rem 0rem 0.0625rem 0.0625rem inset,
    rgba(0, 0, 0, 0.05) 0rem 1.25rem 1.6875rem 0rem;
  backdrop-filter: saturate(200%) blur(1.875rem);
  background-color: rgba(255, 255, 255, 0.8);
  min-height: 4.6875rem;
  border-radius: 0.75rem;
}
.icone-right {
  visibility: hidden;
}
.p-field {
  display: flex;
  align-items: center;
  gap: 20px;
}

@media screen and (max-width: 1450px) {
  .tables {
    width: 0;
    transition: 0.2s;
  }
  .icone-right {
    visibility: visible;
    font-size: 20px;
    cursor: pointer;
  }
  .abri-tabela {
    position: fixed;
    top: 10;
    left: 20px;
    width: 300px;
    height: 100%;
    z-index: 1000;
  }

  .tag_separetion {
    width: calc(93% );
    margin-left: 25px;
      padding: 10px;
  }
}
