  .p-datatable
  .p-datatable-thead
  > tr
  > th:last-child,
.p-datatable .p-datatable-tbody > tr > td:last-child {
  
}
.imagem_agenda {
  width: 105px;
  border-radius: 5px;
  height: 105px;
}

/* Adiciona borda inferior às células do cabeçalho */
/* Adiciona bordas horizontais entre as colunas do cabeçalho */
.p-datatable .p-datatable-thead > tr > th {
  border-bottom: 1px solid #dcdcdc;
  
}

/* Adiciona bordas horizontais entre as colunas do corpo da tabela */
.p-datatable .p-datatable-tbody > tr > td {
  border-bottom: 1px solid #dcdcdc;
  
}

/* Adiciona uma linha extra entre as colunas, se necessário */
.p-datatable .p-datatable-tbody > tr.middle-row > td {
  border-bottom: 2px solid #dcdcdc; /* Define a cor e o estilo da linha */

}

.p-button-rounded {
  padding: 15px;
  height: 40px;
  
}
.new_agenda {
  width: 100px;
  border-radius: 4px;
  
}
.new_botao {
  padding-top: 20px;
  display: flex;
  align-items: end;
  justify-content: end;
  
}

.card {
  width: 100%;
  
}

.fluidss {
  padding: 5px;
  border: 2px solid rgb(240, 236, 236);
  display: flex;
  flex-direction: column;
  gap: 20px;
}
